## Data and libraries load

Load xlsx files from the extraction pipeline.

In [1]:
from validation_package import reading_tables
#/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/use_case_content/truth_table.xlsx
#/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/use_case_content/compared_table.xlsx

table_truth, table_compared = reading_tables("/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/use_case_content/truth_table.xlsx","/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/use_case_content/compared_table.xlsx", display_tables=True)

,String,string noisy,Nb,Bool,Keywords,list nb,ordered list nb,list string,llm test
0,DFGE,dfgrhgfds,3.00000,A or B,"meat, cooked","6,9,7","6,9,7","hahaha,hehe",i am 24 years old and Portuguese.
1,je suis sat,sdfvgbn,575.00000,A and B,we,NaN,NaN,"a,b,c,d,e,f",i am hungry and it's impacting my judgement
2,à oui,sedrtyu,45.90000,1,apples,"1,2,3","1,2,3",NaN,NaN
3,OLALAla,ertyunk,1000.00000,G,hi,"5,0,6,45,679.65","5,0,6,45,679.65","sh,ch,sch,th,ph",E. Coli was found in several meats across the supermarket's aisles
4,g,DEFRGHJ,0.84756,NaN,name,"12,9876,0.2","12,9876,0.2",NaN,98+42
5,GgGgGzo,NaN,34.00000,D and C,"bacillus, broccoli",NaN,NaN,"OTRH,GJKO,hfhjz",NaN

,String,string noisy,Nb,Bool,Keywords,list nb,ordered list nb,list string,llm test
0,DeFeEeGe,dfgrhgfuy,3.00000,A,the meat is cooked,"9,6,7","6,9,7","hahaha,hehe",the person comes from an European country and is young.
1,je suis sat,x,575.00000,B,you should have it,NaN,NaN,"a,b,c,d,e,f",a fact about one's personality is described
2,à oui,sedrtyu,45.90000,1.2,i have 98 apples,"3,1,2,3","1,2,3",NaN,NaN
3,OLALAla,ertyuaz,1000.00000,F,hey,"0,6,45,679.65,5","5,0,6,45,679.65","sh,ch,sch,th,ph",microbiological tests were conducted in a supermarket.
4,g,DEFRGHm,0.84756,O,What's your name ?,"12,9876,0.2,4","12,9876,0.2",NaN,140
5,GgGgGzo,NaN,34.00000,D and C,I want Bacillus in the broccoli,NaN,NaN,"OTRH,GJKO,hfhjz",NaN

Tables are loaded

## Applying glossaries

Glossaries allow to provide the term equivalency ensuring a proper validation

In [2]:
from validation_package import sort_data

table_truth, table_compared = sort_data(table_truth, table_compared, glossary=None)

## Columns processing

### Assigning columns to specific pre-processing routines

In [3]:
#manual attribution
from validation_package import manual_process_for_columns_attribution

attribution_file1 = "/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/use_case_content/manual_attribution_ex.txt"
processors = manual_process_for_columns_attribution(table_truth, attribution_file1)
print(processors)

What type of processing for each column ?
Write a txt file via choosing from this table:
Processing methods
-------------------
words - StringColumnProcessor()
words_not_exact - StringNoisyColumnProcessor()
num - NumericColumnProcessor()
choice - BooleanListColumnProcessor()
keyword - KeywordListColumnProcessor()
list_num - ListColumnProcessor()
list_num_order - OrderedListColumnProcessor()
list_words - List_of_Strings_ColumnProcessor()
sentence - LLMColumnProcessor()
['String', 'string noisy', 'Nb', 'Bool', 'Keywords', 'list nb', 'ordered list nb', 'list string', 'llm test']
[<validation_package.classes.StringColumnProcessor object at 0x00000140C1A22660>, <validation_package.classes.StringNoisyColumnProcessor object at 0x00000140C1A22510>, <validation_package.classes.NumericColumnProcessor object at 0x00000140C1AA9950>, <validation_package.classes.BooleanListColumnProcessor object at 0x00000140C1A22270>, <validation_package.classes.KeywordListColumnProcessor object at 0x00000140C1A21BE0>, <validation_package.classes.ListColumnProcessor object at 0x00000140C1A21D30>, <validation_package.classes.OrderedListColumnProcessor object at 0x00000140C1A21E80>, <validation_package.classes.List_of_Strings_ColumnProcessor object at 0x00000140C1A212B0>, <validation_package.classes.LLMColumnProcessor object at 0x00000140C1A21940>]
The manual attribution was taken into account.
{'String': <validation_package.classes.StringColumnProcessor object at 0x00000140C1A22660>, 'string noisy': <validation_package.classes.StringNoisyColumnProcessor object at 0x00000140C1A22510>, 'Nb': <validation_package.classes.NumericColumnProcessor object at 0x00000140C1AA9950>, 'Bool': <validation_package.classes.BooleanListColumnProcessor object at 0x00000140C1A22270>, 'Keywords': <validation_package.classes.KeywordListColumnProcessor object at 0x00000140C1A21BE0>, 'list nb': <validation_package.classes.ListColumnProcessor object at 0x00000140C1A21D30>, 'ordered list nb': <validation_package.classes.OrderedListColumnProcessor object at 0x00000140C1A21E80>, 'list string': <validation_package.classes.List_of_Strings_ColumnProcessor object at 0x00000140C1A212B0>, 'llm test': <validation_package.classes.LLMColumnProcessor object at 0x00000140C1A21940>}

In [ ]:
#automatic attribution
from validation_package import automatic_process_for_columns_attribution

processors = automatic_process_for_columns_attribution(table_truth)
print(processors)

The JSON file holding the attribution has been saved on your end.

In [5]:
#editing automatic attribution
from validation_package import modify_attribution

new_attribution = "/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/validation_library/new_attribution.json"
new_processors = modify_attribution(new_attribution)
print(new_processors)

Nb : <validation_package.classes.NumericColumnProcessor object at 0x00000183E8CE5E80>
String : <validation_package.classes.StringColumnProcessor object at 0x00000183E8CE5550>
string noisy : <validation_package.classes.StringNoisyColumnProcessor object at 0x00000183E8D3B750>
list nb : <class 'validation_package.classes.List_of_Numbers_ColumnProcessor'>
ordered list nb : <class 'validation_package.classes.Ordered_List_of_Numbers_ColumnProcessor'>
list string : <class 'validation_package.classes.List_of_Strings_ColumnProcessor'>
The attribution has been edited.

## Comparison process

### Comparison and storage

In [4]:
from validation_package import comparison_init

comparison_results, confusion_matrices = comparison_init(table_truth, table_compared, processors)

### Formatting the result

In [5]:
from validation_package.get_results import results

combined_output, confusion_matrices_df = results(table_truth, table_compared, comparison_results, confusion_matrices, display_results=True)

,String_truth,String_compared,String_comparison,string noisy_truth,string noisy_compared,string noisy_comparison,Nb_truth,Nb_compared,Nb_comparison,Bool_truth,Bool_compared,Bool_comparison,Keywords_truth,Keywords_compared,Keywords_comparison,list nb_truth,list nb_compared,list nb_comparison,ordered list nb_truth,ordered list nb_compared,ordered list nb_comparison,list string_truth,list string_compared,list string_comparison,llm test_truth,llm test_compared,llm test_comparison
0,DFGE,DeFeEeGe,Incorrect,dfgrhgfds,dfgrhgfuy,Correct,3.00000,3.00000,Correct,A or B,A,Correct,"meat, cooked",the meat is cooked,Correct,"6,9,7","9,6,7",Correct,"6,9,7","6,9,7",Correct,"hahaha,hehe","hahaha,hehe",Correct,i am 24 years old and Portuguese.,the person comes from an European country and is young.,Incorrect
1,je suis sat,je suis sat,Correct,sdfvgbn,x,Incorrect,575.00000,575.00000,Correct,A and B,B,Incorrect,we,you should have it,False Negative,NaN,NaN,Correct,NaN,NaN,Incorrect,"a,b,c,d,e,f","a,b,c,d,e,f",Correct,i am hungry and it's impacting my judgement,a fact about one's personality is described,Incorrect
2,à oui,à oui,Correct,sedrtyu,sedrtyu,Correct,45.90000,45.90000,Correct,1,1.2,Incorrect,apples,i have 98 apples,Correct,"1,2,3","3,1,2,3",Correct,"1,2,3","1,2,3",Correct,NaN,NaN,Correct,NaN,NaN,Correct
3,OLALAla,OLALAla,Correct,ertyunk,ertyuaz,Incorrect,1000.00000,1000.00000,Correct,G,F,Incorrect,hi,hey,False Negative,"5,0,6,45,679.65","0,6,45,679.65,5",Correct,"5,0,6,45,679.65","5,0,6,45,679.65",Correct,"sh,ch,sch,th,ph","sh,ch,sch,th,ph",Correct,E. Coli was found in several meats across the supermarket's aisles,microbiological tests were conducted in a supermarket.,Incorrect
4,g,g,Correct,DEFRGHJ,DEFRGHm,Correct,0.84756,0.84756,Correct,NaN,O,False Positive,name,What's your name ?,Correct,"12,9876,0.2","12,9876,0.2,4",False Positive,"12,9876,0.2","12,9876,0.2",Correct,NaN,NaN,Correct,98+42,140,Correct
5,GgGgGzo,GgGgGzo,Correct,NaN,NaN,Correct,34.00000,34.00000,Correct,D and C,D and C,Correct,"bacillus, broccoli",I want Bacillus in the broccoli,Correct,NaN,NaN,Correct,NaN,NaN,Incorrect,"OTRH,GJKO,hfhjz","OTRH,GJKO,hfhjz",Correct,NaN,NaN,Correct

,Column,Correct,Incorrect,False Positive,False Negative,Accuracy
0,String,5.0,1.0,0.0,0.0,0.833333
1,string noisy,4.0,2.0,0.0,0.0,0.666667
2,Nb,6.0,0.0,0.0,0.0,1.000000
3,Bool,2.0,3.0,1.0,0.0,0.333333
4,Keywords,4.0,0.0,0.0,2.0,0.666667
5,list nb,5.0,0.0,1.0,0.0,0.833333
6,ordered list nb,4.0,2.0,0.0,0.0,0.666667
7,list string,6.0,0.0,0.0,0.0,1.000000
8,llm test,3.0,3.0,0.0,0.0,0.500000
9,Overall,39.0,11.0,2.0,2.0,0.722222

results are saved to c:\Users\meltr\OneDrive\Documents\(APT2)\D4\STAGE\github\GenEval\comparison.results.xlsx.